<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <div th:if="${msg != null}" th:text="${msg}">
            </div>
            <div th:if="${urlAcessoUpload != null}">
                Acessar o arquivo através do link <a th:href="@{~__${urlAcessoUpload}__}" th:text="${urlAcessoUpload}" target="_blank"></a>
            </div>
            <h1>Exemplo upload de arquivos</h1>
            <form method="post" th:action="@{/upload/salvar}" enctype="multipart/form-data">
                <input type="file" name="arquivo">
                <button type="submit">Enviar</button>
            </form>
        </div>
    </body>
</html>
