<!DOCTYPE html>
<html>
    <head>
        <title>Busca por nome</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Resultado busca produto por nome</h1>
            <h2>Nome digitado: <b th:text="${param.nome}"></b></h2>
            <ul th:each="prod : ${resultados}">
                <li><b th:text="${prod.id}"></b> - <span th:text="${prod.nome}"></span></li>
            </ul>
        </div>
    </body>
</html>
