<!DOCTYPE html>
<html>
    <head>
        <title>Exemplo com i18n</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Exemplo com i18n</h1>
            <a href="?lang=pt-BR">Mudar para pt-BR</a> |
            <a href="?lang=en">Change to en</a>
            <hr>
            <h2 th:text="#{exemplo.titulo}"></h2>
            <p th:text="#{exemplo.boasvindas}"></p>
            <p th:text="#{exemplo.mensagem}"></p>
        </div>
    </body>
</html>
